/ {
    leds {
        compatible = "gpio-leds";
        ledorange: led_orange {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
            label = "Orange LED";
        }; 
    };

    gpio_keys {
        compatible = "gpio-keys";

        dht11: dht11 {
            compatible = "aosong,dht";
            status = "okay";
            dio-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
            label = "DHT11";
        };

        button1: button_1 {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
            label = "Button 1";
        };

        button2: button_2 {
            gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
            label = "Button 2";
        };

        buzzer: buzzer_pin {
            gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
            label = "Buzzer";
        };       
        
        alarme: alarme_pin {
            gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
            label = "alarme";
        };
    };

    aliases {
        led-orange = &ledorange;
        afficheur-print = &afficheur;
        btn1 = &button1;
        btn2 = &button2;
        buzzer = &buzzer;
        dht = &dht11;
        alarme=&alarme;
    };
};

&i2c0 {
    afficheur: afficheur@27 {
        compatible = "i2c-device";
        reg = <0x27>;
    };
};

