/ {

    leds {
        compatible = "gpio-leds";
        ledorange: led_orange {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
            label = "Orange LED";
        };
    };

    aliases {
        led-orange = &ledorange;
        afficheur-print = &afficheur;
    };

    gpio_keys {
    compatible = "gpio-keys";

        dht11: dht11 {
            compatible = "aosong,dht";
            status = "okay";
            dio-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
            label = "XHT11";
            };
            };


};

&i2c0 {
    afficheur: gpio@27 {
        compatible = "i2c-device";
        reg = <0x27>;
    };
};


